body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/230/792/non_2x/a-table-full-of-food-and-drinks-ai-generated-free-photo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
